@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-primary: #0D9488;
}

@layer components {
  .input-field {
    @apply w-full px-4 py-2 mt-1 bg-white border border-gray-300 rounded-md focus:ring-primary focus:border-primary transition-colors;
  }

  .file-input {
    @apply block w-full text-sm text-gray-500 mt-1 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-primary/10 file:text-primary hover:file:bg-primary/20;
  }

  .th-style {
    @apply py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
  }

  .td-style {
    @apply py-4 px-4 whitespace-nowrap text-sm;
  }
}